{% extends './layout.html' %}

{% block header %}
    文章列表
{% endblock %}

{% block content %}
<a href="/article/add" class="btn btn-primary">新增文章</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th>文章ID</th>
            <th>文章名称</th>
            <th>作者</th>
            <th>文章分类</th>
            <th>创建时间</th>
            <th>点击量</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article._id.toString() }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.user }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.createdAt }}</td>
                <td>{{ article.click }}</td>
                <td>
                    <a href="/detail/{{category._id.toString()}}">查看</a>
                    <a href="/article/edit/{{category._id.toString()}}">编辑</a>
                    <a href="/article/delete/{{category._id.toString()}}" class="del">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 分页结构 -->
    {% include './pagination.html' %}
</div>

{% endblock %}