{% extends './err_layout.html' %}
{% block title %}
    <title>您的请求出错啦!</title>
{% endblock %}

{% block content %}
    <!---404--->
    <div class="error_new_bg pr">
        <div class="error_new_content">
            <div class="error_new pa">
                <div class="fl error_new_left"><img style="width: 472px;height: 371px;" src="img/err.jpg"></div>
                <div class="fl error_new_right">
                    <div class="error_detail">
                        <p class="error_p_title">哎呦~ 老司机居然累倒了!</p>
                        <p class="error_p_con">※ 别急,工程师正在紧急处理,马上就好.</p>
                        <p class="error_p_con">※ 您可通过 QQ:1130051785,联系管理员本人!</p>
                        <p class="error_p_con">※ 请使用管理员账号登陆,谢谢!</p>
                    </div>
     
                    <p class="error_new_right_btn pr">
                        <a href="/" class="type-2 type-3">
                            <i> 返回首页 </i>
                            <i> 返回首页 </i>
                            <i> 返回首页 </i>
                            <i> 返回首页 </i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

