/* 控制文章详情里的图片大小 */
.detail-panel .panel-body .image img{
    width:100%;
}

/* 提交按钮 */
#btn-sub-comment{
    line-height: 58px;
    width: 100%;
    font-size: 26px;
}

/* 评论区域 */
#comment-textarea{
    resize: none;
}

/* 提示登陆 */
.comment-login-tips{
    padding: 15px;
}

/* 显示评论 */
#comment-wrap{
    margin-top: 15px;
    min-height: 348px;
}
#comment-wrap .comment-item{
    padding: 9px;
    margin-bottom: 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 设置标题字体大小 */
.panel-heading .panel-title{
    font-size: 32px;
}
